mixin sMoreInfo(data)
	// start sMoreInfo
	+b.SECTION.sMoreInfo.section#sMoreInfo&attributes(attributes)
		.container
			.row
				+e.col.col-lg-6
					h2 Сигарная карта
					+img('img/sMoreInfo-bg-1.png')
				.col-lg-6
					h2 Наши партнеры
					p Наши постоянные и&nbsp;прямые B2B партнеры. В&nbsp;этих отелях ресторанах, барах и&nbsp;магазинах&nbsp;Вы сможете найти лучшие сигары из&nbsp;нашего ассортимента. В<br>хьюмидорах наших партнеров обеспечиваются надлежащие условия хранения сигар, а&nbsp;сами сигары&nbsp;&mdash; официального происхождения, прошедшие необходимые таможенные процедуры, а&nbsp;также процедуры сертификации. Консультанты наших партнеров прошли обучение в&nbsp;Сигарной Академии и&nbsp;смогут ответить на&nbsp;любые вопросы о&nbsp;сигарах
					+e.row.row
						+e.col-img.col.col-lg-6.col-xl-4.text-center
							+img('img/sMoreInfo-img-1.png')
						.col.col-lg-6.col-xl-4.text-center
							+img('img/sMoreInfo-img-2.png')
						.col.col-lg-6.col-xl-4.text-center
							+img('img/sMoreInfo-img-3.png')
						.col-auto.col-lg-6.col-xl-4.text-center
							+img('img/sMoreInfo-img-4.png')
	// end sMoreInfo