mixin navItem(...items)
	each item in items
		li
			a(href="#")= item
mixin footer()
	+b.FOOTER.footer
		.container
			.row
				+e.navs.col
					+b.footer-nav
						+e.title.h4 Меню
						ul
							+navItem('Новости','Бренды','Бутик','Партнеры','Обучение','Клуб','Сигарная карта','Контакты')
					+b.footer-nav
						+e.title.h4 Каталог
						ul
							+navItem('Сигары','Сигариллы (Mini, Clubs, Chicos)','Табаки трубочные')
				+e.logo.col-auto.text-center
					+img('img/logo.png')
				+e.contacts.col.text-end
					address
						p.h4 г. Ташкент, Мирабадский р-н, Массив Айбек, 14&nbsp;(ул. Саида Барака)
						a.h3(href="tel:+998996569900") +998 99 656 9900
					button Написать консультанту
					+e.docs
						a(href='#') Политика кофниденциальности
						a(href='#') Пользовательское соглашение
