mixin navItem(...items)
	each item in items
		li
			a(href="#")= item
mixin footer()
	+b.FOOTER.footer
		.container
			.row
				.col-sm-3.col-md-4.col-lg-auto.text-center
					+logo()
				+e.navs.col-9.col-md-12.col-lg.order-lg-first
					+b.footer-nav
						+e.title.h4 Меню
						ul
							+navItem('Новости','Бренды','Бутик','Партнеры','Обучение','Клуб','Сигарная карта','Контакты')
					+b.footer-nav
						+e.title.h4 Каталог
						ul
							+navItem('Сигары','Сигариллы (Mini, Clubs, Chicos)','Табаки трубочные')
				+e.contacts.col
					+addr()
					+e.btn(href="#") Написать консультанту
					+e.docs
						a(href='#') Политика кофниденциальности
						a(href='#') Пользовательское соглашение
					+e.ruvents(href='#') Разработка сайта
						+img('img/ruvents.png')
						
