mixin sInvite(data)
	// start sInvite
	+b.SECTION.sInvite.section#sInvite&attributes(attributes)
		+img('img/sInvite-bg-2.png')
		.container
			+e.wrap
				+img('img/sInvite-bg.jpg', 'bg')
				+e.text-wrap
					h3 Ты&nbsp;&mdash; управляющий рестораном, главный бармен или бариста, руководитель по&nbsp;продажам в&nbsp;ритейле? Ты&nbsp;хочешь большего!
					p Сигарная Академия&nbsp;&mdash; для тебя! Подай заявку на&nbsp;курс<br>по&nbsp;специальности &laquo;Фумилье&nbsp;&mdash; консультант по&nbsp;сигарам&raquo;
					a(href="#").btn.btn-primary Консультант по сигарам
	// end sInvite