mixin sBrandsSlider(data)
	// start sBrandsSlider
	+b.sBrandsSlider.section#sBrandsSlider&attributes(attributes)
		.container
			+e.slider--js.swiper
				.swiper-wrapper
					+e.item.swiper-slide
						+img('img/svg/sBrandsSlider-img-1.svg')
					+e.item.swiper-slide
						+img('img/svg/sBrandsSlider-img-1.svg')
					+e.item.swiper-slide
						+img('img/svg/sBrandsSlider-img-1.svg')
					+e.item.swiper-slide
						+img('img/svg/sBrandsSlider-img-1.svg')
					+e.item.swiper-slide
						+img('img/svg/sBrandsSlider-img-1.svg')
					+e.item.swiper-slide
						+img('img/svg/sBrandsSlider-img-1.svg')
					+e.item.swiper-slide
						+img('img/svg/sBrandsSlider-img-1.svg')
					+e.item.swiper-slide
						+img('img/svg/sBrandsSlider-img-1.svg')
					+e.item.swiper-slide
						+img('img/svg/sBrandsSlider-img-1.svg')
					+e.item.swiper-slide
						+img('img/svg/sBrandsSlider-img-1.svg')
					//- +e.item.swiper-slide
					//- 	+img('img/svg/sBrandsSlider-img-2.svg')
					//- +e.item.swiper-slide
					//- 	+img('img/svg/sBrandsSlider-img-3.svg')
					//- +e.item.swiper-slide
					//- 	+img('img/svg/sBrandsSlider-img-4.svg')
					//- +e.item.swiper-slide
					//- 	+img('img/svg/sBrandsSlider-img-1.svg')
					//- +e.item.swiper-slide
					//- 	+img('img/svg/sBrandsSlider-img-2.svg')
					//- +e.item.swiper-slide
					//- 	+img('img/svg/sBrandsSlider-img-3.svg')
					//- +e.item.swiper-slide
					//- 	+img('img/svg/sBrandsSlider-img-4.svg')
	// end sBrandsSlider