mixin sNewsItem(data)
	// start sNewsItem
	+b.SECTION.sNewsItem.section#sNewsItem&attributes(attributes)
		.container
			p Майя Сельва родилась 9&nbsp;августа 1965 года в&nbsp;Гондурасе в&nbsp;семье француженки и&nbsp;гондурасца. Она выросла в&nbsp;Тегусигальпе, но&nbsp;в&nbsp;шестнадцать лет переехала во&nbsp;Францию учиться. После окончания средней школы девушка выучилась на&nbsp;инженера и&nbsp;завершила свое образование в&nbsp;США со&nbsp;степенью магистра наук. В&nbsp;1991 году Майя вернулась в&nbsp;Гондурас, и&nbsp;раздумывая, чем она хочет дальше заниматься, в&nbsp;конечном итоге, решила связать карьеру с&nbsp;табаком.
			+img('img/news.jpg')
			p Майя Сельва родилась 9&nbsp;августа 1965 года в&nbsp;Гондурасе в&nbsp;семье француженки и&nbsp;гондурасца. Она выросла в&nbsp;Тегусигальпе, но&nbsp;в&nbsp;шестнадцать лет переехала во&nbsp;Францию учиться. После окончания средней школы девушка выучилась на&nbsp;инженера и&nbsp;завершила свое образование в&nbsp;США со&nbsp;степенью магистра наук. В&nbsp;1991 году Майя вернулась в&nbsp;Гондурас, и&nbsp;раздумывая, чем она хочет дальше заниматься, в&nbsp;конечном итоге, решила связать карьеру с&nbsp;табаком.
			blockquote Цитата в&nbsp;новости для наглядности отображения контента
			p Штаб-квартира Maya Selva Cigares находится в&nbsp;центре Парижа и&nbsp;управляет распространением в&nbsp;Европе, табачные плантации и&nbsp;фабрики расположены в&nbsp;Гондурасе и&nbsp;Никарагуа, а&nbsp;распределительный центр для США находится в&nbsp;Голливуде, штат Флорида. Майя Сельва является одним из&nbsp;основателей Гондурасской ассоциации производителей сигар наряду с&nbsp;Plasencias, Eiroas, General Cigar и&nbsp;Consolidated Cigar. Она была одним из&nbsp;организаторов первого сигарного фестиваля в&nbsp;Гондурасе Humo Jaguar в&nbsp;2011&nbsp;году. Cigar Journal назвал ее&nbsp;самой известной женщиной-производителем сигар в&nbsp;Европе в&nbsp;осеннем номере 2015&nbsp;года.
			+newsItem("3","12.06.2022","Марк Твен об&nbsp;американских сигарах", "Майя Сельва родилась 9&nbsp;августа 1965 года в&nbsp;Гондурасе в&nbsp;семье француженки и&nbsp;гондурасца. Она выросла в&nbsp;Тегусигальпе, но&nbsp;в&nbsp;шестнадцать лет переехала во&nbsp;Францию учиться. После окончания средней школы")

	// end sNewsItem