// start .sNewsItem
.sNewsItem {
		--sPT: 0;
		--sPB: #{rem(107)};
		// --sTPB: ;
	p {
		margin-bottom: 42px;
		line-height: 170%;
		max-width: 803px;
	}
	
	&__img {
		max-height: 598px;
		max-width: 100%;
		width: auto;
		margin-bottom: 54px;
	}
	
	blockquote {
		max-width: 803px;
		@extend h3;
		padding: rem(20) 15% rem(35) 0;
		margin-bottom: rem(48);
		font-family: $headers-font;
		line-height: 98.9%;
		border-top: 1px solid $primary;
		border-bottom: 1px solid $primary;
	}
	.hc-news-item {
		padding-top: rem(290);
		@include media-breakpoint-down(md) {
			padding-top: 0;
		}
	}
	.news-item {
		max-width: 100%;	
	}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sNewsItem