mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		//- +e.img-wrap
		+img('img/headerBlock-img-1.jpg', 'bg').bg-img
		.container
			+e.row.row
				+e.col.col
					h1 Единый<br>импортер сигар<br>в Узбекистане
				.col-auto.col-lg-5
					+e.wrap
						+e.text-wrap
							h4 Гарантия происхождения и&nbsp;качества сигар
							a(href="#").btn.btn-primary Заказать ONLINE
						+img('img/headerBlock-img-2.jpg')
			+e.slider--js.swiper
				+e.swiper-wrap.swiper-wrapper
					+e.item(href="#").swiper-slide
						+img('img/headerBlock-img-3.jpg', 'bg')
						p 18.08.2022
						h3 Art<br>Nouveau<br>Serie
					+e.item(href="#").swiper-slide
						+img('img/headerBlock-img-4.jpg', 'bg')
						p 18.08.2022
						h3 Новость и заголовок к ней для наглядности отображения
					+e.item(href="#").swiper-slide
						+img('img/headerBlock-img-5.jpg', 'bg')
						p 18.08.2022
						h3 Заголовок<br>новости в одну<br>строку с сокращ...
				//- +sliderArrow('Все новости →')
				+e.more
					a(href="#") Все новости →
					+arrow()
	// end headerBlock