mixin sSliderFluid(data)
	// start sSliderFluid
	+b.sSliderFluid.section#sSliderFluid&attributes(attributes)
		.container
			+e.sliders.row
				mixin wrapper()
					.swiper-wrapper
						block
				+e.col-lg.col
					+e.slider--js.--lg.swiper
						+wrapper()
							+e.slide.swiper-slide: +img('img/club-slider-1.jpg')
							+e.slide.swiper-slide: +img('img/club-slider-2.jpg')
							+e.slide.swiper-slide: +img('img/club-slider-3.jpg')
							+e.slide.swiper-slide: +img('img/club-slider-4.jpg')
							+e.slide.swiper-slide: +img('img/club-slider-5.jpg')
				+e.col-md.col-auto
					+e.slider--md-js.--md.swiper
						+wrapper()
							+e.slide--md.swiper-slide: +img('img/club-slider-2.jpg')
							+e.slide--md.swiper-slide: +img('img/club-slider-3.jpg')
							+e.slide--md.swiper-slide: +img('img/club-slider-4.jpg')
							+e.slide--md.swiper-slide: +img('img/club-slider-5.jpg')
							+e.slide--md.swiper-slide: +img('img/club-slider-1.jpg')


mixin sSliderFluid2(data)
	// start sSliderFluid
	+b.sSliderFluid.section&attributes(attributes)
		.container
			+e.sliders.row
				mixin wrapper()
					.swiper-wrapper
						block
				+e.col-lg.col
					+e.slider--js-2.--lg.swiper
						+wrapper()
							+e.slide.swiper-slide: +img('img/club-slider-6.jpg')
							+e.slide.swiper-slide: +img('img/club-slider-7.jpg')
							+e.slide.swiper-slide: +img('img/club-slider-8.jpg')
							+e.slide.swiper-slide: +img('img/club-slider-6.jpg')
							+e.slide.swiper-slide: +img('img/club-slider-7.jpg')
				+e.col-md.col-auto
					+e.slider--md-js-2.--md.swiper
						+wrapper()
							+e.slide--md.swiper-slide: +img('img/club-slider-7.jpg')
							+e.slide--md.swiper-slide: +img('img/club-slider-8.jpg')
							+e.slide--md.swiper-slide: +img('img/club-slider-6.jpg')
							+e.slide--md.swiper-slide: +img('img/club-slider-7.jpg')
							+e.slide--md.swiper-slide: +img('img/club-slider-6.jpg')

	// end sSliderFluid