mixin sSliderFluid(data)
	// start sSliderFluid
	+b.SECTION.sSliderFluid.section#sSliderFluid&attributes(attributes)
		.swiper.fluid-slider.fluid-slider--js
			.swiper-wrapper
				.swiper-slide
						+img('img/club-slider-1.jpg')
				.swiper-slide
						+img('img/club-slider-2.jpg')
				.swiper-slide
						+img('img/club-slider-3.jpg')
				.swiper-slide
						+img('img/club-slider-4.jpg')
				.swiper-slide
						+img('img/club-slider-5.jpg')
	// end sSliderFluid