mixin sItem(data)
	// start sItem
	+b.SECTION.sItem.section#sItem&attributes(attributes)
		.container
			+b.item
				.row.justify-content-between
					.col-xl-6
						+e.images-wrap
							.swiper.item-slider.item-slider--js
								.swiper-wrapper
									.swiper-slide
										+img('img/item-main.jpg')
									.swiper-slide
										+img('img/item-main.jpg')
									.swiper-slide
										+img('img/item-main.jpg')
							.swiper.item-thumbs-slider.item-thumbs-slider--js
								.swiper-wrapper
									.swiper-slide
										+img('img/item-thumbs-1.jpg')
									.swiper-slide
										+img('img/item-thumbs-2.jpg')
									.swiper-slide
										+img('img/item-thumbs-3.jpg')
					.col-xl-5
						+e.P.descr Сигара, посвященная 20-летию знаменитых доминиканских &laquo;пурос&raquo; и&nbsp;вере создателей в&nbsp;свою мечту (именно так переводится название &laquo;Believe&raquo;). Фигурная витола среднего размера будет украшением любого торжественного обеда, она полна развивающимися оттенками кожи, которые сопровождают тона выпечки, корицы, оттенки кедра и&nbsp;перечные тона. Великолепное сливочно-кожистое послевкусие 
							a(href="#") подробнее...
						+e.UL.properties
							li <span>Крепость:</span>
								.rating
								.rating
								.rating
								.rating.rating--empty
								.rating.rating--empty
							li <span>Размер сигары:</span> 146 мм × 52 RG
							li <span>Диаметр:</span> 21 мм
							li <span>Время курения:</span> ~75 мин
							li <span>Скрутка:</span> Ручная
							li <span>Начинка:</span> Доминиканская респ
							li <span>Связующий лист:</span> Доминиканская респ.
							li <span>Покровный лист:</span> Доминиканская респ.
							li <span>Формат:</span> Robusto
						+e.to-cart
							.form-check.form-check-inline
								input(type="radio",id="radio1",value="retail", name="amount" checked).form-check-input
								label(for="radio1").form-check-label.h4 1 400 руб.
									span Поштучно, 1шт.
							.form-check.form-check-inline
								input(type="radio",id="radio2",value="wholesale", name="amount").form-check-input
								label(for="radio2").form-check-label.h4 141 400 руб.
									span Коробка, 20шт.
							+addblock()
							//- +e.counter
							//- 		button
							//- 		+input('2')
							//- 		button.plus
							+e.price.h3 282 400 руб
							+e.to-buy
								button
									+icon('cart')
			+e.subtitle.h2 С&nbsp;этим товаром покупают
			+e.more.row
				.col-md-6.col-lg-4
					+catalogItem('1','', 'true', '1400 руб.')
				.col-md-6.col-lg-4
					+catalogItem('2','', 'true', '1400 руб.')
				.col-md-6.col-lg-4
					+catalogItem('3','', 'true', '1400 руб.')
	// end sItem