mixin sItem(data)
	// start sItem
	+b.SECTION.sItem.section#sItem&attributes(attributes)
		.container
			a(href='catalog.html')
				+icon('arrow-back').arrow-back
			+b.item
				+e.title
					.row
						+e(href="#").brand.col-auto ARTURO FUENTE
						+e.country.col-auto Доминиканcкая Республика
						+e.article.col.text-end Артикул: 45649896
					h2.h1 Arturo Fuente Opus X 20th Anniversary Believe
				.row.justify-content-between
					.col-xl-6.col-xl-6
						+e.images-wrap
							+img('img/item-main.jpg')
					.col-xl-5.col-xl-6
						+e.P.descr Сигара, посвященная 20-летию знаменитых доминиканских &laquo;пурос&raquo; и&nbsp;вере создателей в&nbsp;свою мечту (именно так переводится название &laquo;Believe&raquo;). Фигурная витола среднего размера будет украшением любого торжественного обеда, она полна развивающимися оттенками кожи, которые сопровождают тона выпечки, корицы, оттенки кедра и&nbsp;перечные тона. Великолепное сливочно-кожистое послевкусие 
							a(href="#") подробнее...
						+e.UL.properties
							li <span>Крепость:</span>
								.rating
								.rating
								.rating
								.rating.rating--empty
								.rating.rating--empty
							li <span>Размер сигары:</span> 146 мм × 52 RG
							li <span>Диаметр:</span> 21 мм
							li <span>Время курения:</span> ~75 мин
							li <span>Скрутка:</span> Ручная
							li <span>Начинка:</span> Доминиканская респ
							li <span>Связующий лист:</span> Доминиканская респ.
							li <span>Покровный лист:</span> Доминиканская респ.
							li <span>Формат:</span> Robusto
						+e.to-cart
							.form-check.form-check-inline
								input(type="radio",id="radio1",value="retail", name="amount").form-check-input
								label(for="radio1").form-check-label.h4 1 400 руб.
									span Поштучно, 1шт.
							.form-check.form-check-inline
								input(type="radio",id="radio2",value="wholesale", name="amount").form-check-input
								label(for="radio2").form-check-label.h4 141 400 руб.
									span Коробка, 20шт.
							.row.align-items-center
								+e.counter.col-auto
									button -
									span 2
									button +
								+e.price.h3.col 282 400 руб
								+e.to-buy.col-auto
									button
										+icon('cart')
			+e.subtitle.h2 С&nbsp;этим товаром покупают
			+e.more.row
				.col-6.col-lg-4
					+catalogItem('1')
				.col-6.col-lg-4
					+catalogItem('2')
				.col-6.col-lg-4
					+catalogItem('3')
	// end sItem