// start .sItem
.sItem {
		--sPT: 0;
		// --sPB: ;
		// --sTPB: ;
	.icon-arrow-back {
		margin-bottom: 27px;
		stroke: $white;
		font-size: 12px;
	}

	.row {
		--bs-gutter-y: 30px;
	}

	
	&__subtitle {
		margin-bottom: rem(62);
	}

	&__more {
		--bs-gutter-y: #{rem(40)};
		margin-bottom: rem(150);
	}
	.catalog-item {
		&__img-wrap {
			margin-bottom: rem(30);
		}
		&__title {
			margin-bottom: rem(12);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sItem	
.item-slider {
	height: 100%;
	width: 100%;
	.swiper-slide {
		min-height: 570px;
		width: 100%;
		padding: 30px;
    display: flex;
    align-items: center;
		justify-content: center;
		@include media-breakpoint-down(sm) {
			min-height: 370px;			
		}
	}
	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.item-thumbs-slider {
	position: absolute;
	bottom: 33px;
	left: 0;
	right: 0;
	height: 92px;
	width: 302px;
	box-sizing: border-box;
	padding: 10px 0;
	@include media-breakpoint-down(xl) {
		bottom: 10px;
		// width: 70%;
	}
	@media (max-width: 400px) {
		width: 90%;
		height: 26%;
	}
	.swiper-slide {
		border: 2px solid transparent;
		display: flex;
    align-items: center;
		justify-content: center;
	}
	.swiper-slide-thumb-active {
		border: 2px solid rgba($brown, .2);
	}
	img {
		height: 67px;
		width: auto;
		object-fit: contain;
	}
}

.item {
	margin-bottom: rem(77);
	&__about-col {
		@include media-breakpoint-down(sm) {
			display: flex;
			flex-direction: column;
		}
	}
	&__images-wrap {
		position: relative;
		// display: flex;
		// align-items: center;
		// justify-content: center;
		overflow: hidden;
		width: 100%;
		height: 100%;
		background: #FFFFFF;
		border-radius: 40px;
		img {
			max-width: 100%;
		}
	}
	&__descr {
		margin-bottom: 38px;
		line-height: 1.7;
	}
	&__properties {
		max-width: 505px;
		margin-bottom: 42px;
		list-style-type: none;
		column-count: 2;
		font-size: 12px;
		@include media-breakpoint-down(sm) {
			column-count: auto;
		}
		li {
			margin-bottom: 13px;
		}
		.rating {
			@include rating;
		}
		span {
			margin-right: 16px;
			color: $brown;
			display: block;
			@include media-breakpoint-up(xxl) {
				display: inline;
			}
			@include media-breakpoint-down(xl) {
				display: inline;
			}
		}
	}
	.item__properties .rating:not(:last-child) {
    margin-right: 12px;
	}
	&__to-cart {
		max-width: 570px;
		display: flex;
    flex-wrap: wrap;
		align-items: center;
		padding: rem(15) rem(38) rem(24);
		border: 1px solid $brown;
		border-radius: 40px;
		@include media-breakpoint-down(sm) {
			order: -1;
			padding: 10px;
			margin-bottom: 10px;
		}
		.form-check-input {
			width: rem(24);
			height: rem(24);
			margin-right: 25px;
			border: 1px solid $white;
			background-color: transparent;
			@include media-breakpoint-down(sm) {
				margin-left: 0;
			}
			&:checked {
				background-image: url('../img/radio-btn.svg');
				background-size: 10px 10px;
				border: 1px solid $orange;
			}
		}
		.form-check-label{
			font-family: $headers-font;
		}
		.form-check-inline {
			margin-bottom: rem(10);
			width: 43%;
			padding-left: 13px;
			@include media-breakpoint-down(sm) {
				min-width: 150px;
				width: 100%;
			}
		}
		span {
			display: block;
			margin-top: 8px;
			color: $brown;
			font-family: $default-font;
			font-size: 12px;
		}
	}
	.addBlock {
		margin-right: rem(30);
		@include media-breakpoint-down(xxl) {
			width: 100%;
		}
		@include media-breakpoint-down(xl) {
			width: auto
		}
		@include media-breakpoint-down(sm) {
			width: 100%;
			margin-bottom: rem(15);
		}
	}
	&__counter {
		max-width: 202px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		button {
			position: relative;
			display: inline-block;
			width: rem(64);
			height: rem(64);
			font-size: 32px;
			background-color: transparent;
			border-radius:100%;
			color: $white;
			border:1px solid $brown;
			&::before,
			&::after{
				content: '';
				width: 10px;
				height: 2px; 
				background-color: currentColor;
				@include a-cent;
				position: absolute;
			}
			&.plus::after{
				transform: rotate(90deg);
			}
		}
		input {
			display: inline-block;
			text-align: center;
			padding: 0;
			border: none;
			font-family: $headers-font;
			font-size: rem(32);
			color: $white;
			background-color: transparent;
			&::placeholder {
				font-family: $headers-font;
				font-size: rem(32);
				color: $white;
			}			
		}
		.form-control:focus {
			background-color: transparent;
			// border-color: #f5b09a;
			box-shadow: none;
			color: $white;
			outline: 0;
		}
	}
	&__price {
		margin-bottom: 0;
		display: inline-block;
		font-family: $headers-font;
		@include media-breakpoint-down(xl) {
			margin-right: rem(30);
		}
		@include media-breakpoint-down(md) {
			font-size: 24px;
		}
	}
	&__to-buy {
		display: inline-block;
		margin-left: auto;
		@include media-breakpoint-down(xl) {
			margin-left: 0;
		}
		button {
			@include buy-btn;
			.icon {
				margin-bottom: 0;
			}
		}
	}
}
