extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug
include ../blocks/sBrandsBlock/_sBrandsBlock.pug


block variables
	- let  mainPage= null 
	- let  bg= '03-brands.jpg'

block title
	- let  title= 'Бренды'
	title= title
block pagecontent
	//- +mob-mnu()

	+top-nav()
	+page-head(title).--brands
	//- +headerBlock
	+sBrandsBlock()
	+footer()
      



