extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sContactinfo/_sContactinfo.pug
 
//- include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug
include ../blocks/sCatalog/_sCatalog.pug


block variables
	- let  mainPage= 'cart-page'
	- let  bg= '09-cart-2.jpg'

block title
	- let  title= 'Оформление заказа'
	title= title
block pagecontent
	//- +mob-mnu()

	+top-nav()
	+page-head(title, 'true')
	+sContactinfo
	//- +headerBlock
	//- +sContact()
	+footer()
      
block map
	script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=2066e304-cee0-4ed2-9cb2-5f6521d5f96c')

	script.
		function init() {
			var center = [41.31108110776953,69.28437276339038];
			var myMap = new ymaps.Map('map', {
				center: center,
				zoom: 10,
				controls: ['zoomControl']
			});
			myPlacemark = new ymaps.Placemark([41.31108110776953,69.28437276339038], {
				balloonContentHeader: "Балун метки",
				balloonContentBody: "Содержимое <em>балуна</em> метки",
				balloonContentFooter: "Подвал",
				hintContent: "Хинт метки"
			});
			myMap.geoObjects.add(myPlacemark);

			let  mapShow = true;
			$('.tabs__btn:nth-child(2)').bind('click', function () {
				myMap.container.fitToViewport();
				console.log(mapShow)
				if (mapShow == true) {
					ymaps.ready(init);
				}
				mapShow = false;
			});
		};
	script.
		ymaps.ready(init);