// start .sPartners
.sPartners {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		h1 {
			margin-bottom: rem(160);
		}
		
		@include media-breakpoint-up(xl) {}
		@include media-breakpoint-up(lg) {}
		@include media-breakpoint-up(md) {}
		@include media-breakpoint-up(sm) {}
		@include media-breakpoint-between(md, xl) {}
		@include media-breakpoint-only(xl) {}
		@include media-breakpoint-down(xl) {}
	} // end.sPartners
	
.partners-item {
	--bs-gutter-y:  #{rem(30)};
	margin-bottom: 88px;
	&__img-wrap {
		display: flex;
		max-width: 100%;
		min-width: 150px;
		// align-items: center;
		justify-content: center;
		overflow: hidden;
	}
	&__name {
		margin-bottom: rem(25);
		@extend h4;
		font-family: $headers-font;
	}
	&__descr {
		line-height: 170%;
	}
}