mixin partners-item (img, name, descr)
	+b.partners-item.row
		.col-12.col-md-3.col-xl-2.text-center
			+e.img-wrap
				+img(`img/partner-${img}.png`)
		.col-12.col-md-9.col-xl-7
			+e.name= name
			+e.descr!= descr

mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+page-head('Партнеры','','')
			+partners-item('1','Montecristo','Данная марка является самой известной и&nbsp;наиболее премиальной из&nbsp;всех кубинских сигар. Создана она была по&nbsp;специальному распоряжению Фиделя Кастро, который был ярым поклонником сигарной культуры и&nbsp;скуривал не&nbsp;менее трех витол в&nbsp;день. Поначалу производство велось на&nbsp;секретной фабрике El&nbsp;Laguito, которая впоследствии станет знаменита на&nbsp;весь мир.')
			+partners-item('2','Cohiba','Данная марка является самой известной и&nbsp;наиболее премиальной из&nbsp;всех кубинских сигар. Создана она была по&nbsp;специальному распоряжению Фиделя Кастро, который был ярым поклонником сигарной')
			+partners-item('3','Cohiba','Данная марка является самой известной и&nbsp;наиболее премиальной из&nbsp;всех кубинских сигар. Создана она была по&nbsp;специальному распоряжению Фиделя Кастро, который был ярым поклонником сигарной')
	// end sPartners