// start .sCatalog
.sCatalog {
		--sPT:0 ;
		--sPB: #{rem(133)};
		// --sTPB: ;
	&__row-main {
		--bs-gutter-y: #{rem(30)};
		margin-bottom: rem(93);
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog

.category-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 29px;
	.form-select, sCatalog__input-wrap {
		padding-left: 0;
		@extend .mono;
		@extend .h3;
		margin-bottom: 10px;
		color: $white;
		background-color: transparent;
		width: auto;
		border-radius: 0;
		margin-right: rem(45);
		padding-right: 30px;
		background-image: url('../img/svg/select-arrow.svg');
		background-position: right 8px top 20px;
		&--active {
			color: $primary;
			border-bottom: 1px solid $primary;
		}
	}
}

.display-wrap {
	justify-content: space-between;
	margin-bottom: 50px;
	@include media-breakpoint-down(xl) {
		position: relative;
	}
	&__filter,
	&__sorter {
		display: flex;
		flex-wrap: wrap;
	}
	&__filter {
		@include media-breakpoint-down(xl) {
			margin-bottom: rem(20);
		}
	}
	&__sorter {
		@include media-breakpoint-up(xl) {
			justify-content: flex-end;
		}
	}
	&__form {
		--bs-gutter-y: #{rem(15)};
		display: flex;
		flex-wrap: wrap;
		margin-top: calc(var(--bs-gutter-y) * -1);
		& > * {
			margin-top: var(--bs-gutter-y);
		}
	}
	&__title {
		font-size: rem(16);
		margin-right: rem(13);
	}
	&__select-wrap {
		&:not(:last-child) {
			.form-select {
				margin-right: 14px;
			}
		}
	}
	.form-select {
		width: auto;
		padding-right: 18px;
		margin-bottom: 10px;
		&--selected {
			position: relative;
			padding-left: 30px;
			padding-right: 30px;
			background-color: $brown;
			color: $white;
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				content: "sdfsdf";
				display: inline-block;
				width: 15px;
				height: 15px;
				color: $white;
			}
		}
		option {
			color: $body-bg;
		}
	}
}

.catalog-item {
	display: flex;
	flex-direction: column;
	--sp-x: #{rem(40)};
	padding-bottom: 42px;
	min-height: 100%;
	background: $white;
	border-radius: 40px;
	overflow: hidden;
	&__body {
    text-align: center;
    padding: rem(40) var(--sp-x) rem(18);
    display: flex;
		flex-direction: column;
		flex-grow: 1;
    align-items: center
	}
	&__img-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: rem(15);
		min-height: 133px;
		@include media-breakpoint-up(xl) {
			min-height: 266px;
		}
		img {
			max-width: 100%;
		}
	}
	&__brand {
		position: relative;
		padding-bottom: 17px;
		margin-bottom: 21px;
		font-size: 14px;
		color: rgba($dark, .5);
		&::after {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			content: '';
			width: 77px;
			height: 1px;
			background-color: rgba(#181818, .2);
		}
	}
	&__title {
		color: $dark;
		margin-bottom: 8px;
	}
	&__country {
		margin-bottom: 30px;
		color: $brown;
		font-size: rem(16);
	}
	&__strength {
		margin-top: auto;
		span {
			margin-right: 16px;
			font-size: 12px;
			color: $brown;
		}
		ul {
			display: inline-flex;
			margin-bottom: 0;
			list-style-type: none;
		}
	}
	&__duration  {
		font-size: 12px;
		color: $brown;
		span {
			display: inline-block;
			margin-left: 16px;
			font-weight: 700;
			font-size: 12px;
		}
	}
	&__rating {
		@include rating;
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: var(--sp-x);
		padding-right: var(--sp-x);
		button {
			@include buy-btn;
		}
	}
	&__price {
		font-family: $headers-font;
		color: $dark;
		font-weight: 700;
		font-size: 24px;
	}
}

.filter-dropdown {
	@include media-breakpoint-up(xl) {
		position: relative;
	}
	&__btn {
		cursor: pointer;
		border: 1px solid transparent;
		display: flex;
		align-items: center;
		margin-right: 14px;
		background-color: $primary;
		line-height: 1.5;
		font-size: rem(16);
		color: $dark;
		padding: rem(1) rem(8) rem(1) rem(8);
		border-radius: 8px;
		.icon {
			flex: 0 0 auto;
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
			font-size: rem(6);
			margin-left: rem(10);
		}
		&--selected {
			color: #fff;
			background-color: $brown;
			padding-right: rem(2);
		}
	}
	&__info  {
		background-color: $dark;
		border-radius: 7px;
		padding: 0 rem(8.800) 0 rem(8.800);
		margin-left: rem(10);
		display: flex;
		align-items: center;
	}
	&__cross {
		flex: 0 0 auto;
		cursor: pointer;
		position: relative;
		width: rem(17);
		height: rem(17);
		margin-left: rem(8.2);
		&:hover {
			&::before, &:after {
				background-color: $primary;
			}
		}
		&::before, &:after {
			@include mt;
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 1px;
			background-color: #fff;
			@include a-cent();
		}
		&:after {
			transform: rotate(-45deg);
		}
		&:before {
			transform: rotate(45deg);
		}
	}
	&__dropdown-item {
		@include mt;
		position: absolute;
		left: 0;
		top: calc(100% + rem(5));
		width: rem(328);
		padding: rem(16);
		background-color: #452F2B;
		border-radius: 8px;
		opacity: 0;
		pointer-events: none;
		z-index: 10;
		&.active {
			opacity: 1;
			pointer-events: all;
		}
		@include media-breakpoint-down(xl) {
			width: calc(100% - var(--bs-gutter-x));
			left: calc(var(--bs-gutter-x) /2);
		}
	}
	&__input-wrap {
		margin-bottom: rem(10);
	}
	&__input {
		background-color: #181818;
		padding: rem(10) rem(10) rem(12) rem(10);
		font-size: rem(12);
		@include media-breakpoint-up(xl) {
			font-size: rem(12);
		}
		&::placeholder {
			color: $brown;
		}
	}
	&__custom-input-wrap {
		@extend .custom-scroll;
		--bs-gutter-y: #{rem(10)};
		--bs-primary: #EB6034;

		display: flex;
		flex-direction: column;
		margin-top: calc(var(--bs-gutter-y) * -1);
		max-height: rem(259);
		overflow-y: auto;
		overflow-x: hidden;
		margin-bottom: rem(10);
		.custom-input {
			margin-top: var(--bs-gutter-y);
			margin-bottom: 0;
			padding-left: 0;
			display: flex;
			align-items: center;
			&__input {
				width: rem(20);
				height: rem(20);
				margin-top: 0;
				margin-left: 0;
				margin-right: rem(5);
			}
			&__text {
				font-size: rem(16);
				line-height: 1.5em;
				vertical-align: text-bottom;
			}
		}
	}
	&__reset-btn {
		--bs-btn-font-size: #{rem(14)};
		--bs-btn-padding-y: #{rem(8)};

		display: flex;
		align-items: center;
		width: 100%;
		text-align: center;
		justify-content: center;
		@include media-breakpoint-up(xl) {
			--bs-btn-font-size: #{rem(14)};
		}
		span {
			font-family: var(--bs-font-monospace);
		}
	}
	&__count {
    display: flex;
		align-items: center;
    justify-content: center;
    background: linear-gradient(91.82deg,#d3ba8b 7.36%,#da7619 96.55%);
    border-radius: 150px;
    color: $dark;
    font-size: rem(14);
    font-weight: 500;
    height: rem(29);
    width: rem(25);
		font-family: var(--bs-btn-font-family);
		margin-left: rem(19);
		line-height: 1rem;
	}
	.irs {
		&-from, &-to, &-single {
			visibility: hidden !important;
			display: none;
			position: absolute !important;
		}
		&-max, &-min {
			top: 14px;
			color: $brown;
			background-color: transparent;
			font-size: rem(10);
			display: block !important;
			visibility: visible !important;
		}
		&-line {
			position: sticky;
			background-color: #181818;
			border-radius: 4px;
			height: 2px;
			margin-top: 8px;
		}
		&-handle {
			top: -7px;
			border-color: $orange;
			background-color: $orange;
			border-radius: 4px;
			border-width: 5px;
			width: 16px;
			height: 16px;
			&:hover {
				background-color: $orange;
			}
		}
		&-bar {
			top: -1px;
			background-color: $orange;
		}
		&--round {
			height: 30px;
		}
	}
	.extra-controls {
		// display: flex;
		@extend .row;
		--bs-gutter-x: #{rem(10)};
		font-size: rem(16);
		line-height: 1.5;
		position: relative;
		label {
			// @include roww(5px, m);
			@extend .col-6;
			position: relative;
			display: flex;
			align-items: center;
			padding-bottom: rem(10);
			span {
				position: absolute;
				display: block;
				font-size: rem(12);
				&:first-child {
					margin-right: 5px;
				}
				&:last-child {
					margin-left: 5px;
				}
				&.status {
					left: 9px;
					color: $brown;
				}
				&.ruble {
					right: 10px;
				}
			}
		}
		input {
			@include mt;
			width: 100%;
			border-color: transparent;
			border-width: 1px;
			color: #fff;
			background-color: #181818;
			padding-left: rem(26);
			padding-right: rem(26);
			padding-top: rem(8);
			padding-bottom: rem(8);
			border-radius: 4px;
			&:focus {
				border-color: $body-color;
				outline: none;
			}
		}
	}
	&--right {
		.filter-dropdown__dropdown-item {
			right: 0;
			left: unset;
		}
	}
}