mixin catalogItem(img, duration, strength, price)
	+b.catalog-item&attributes(attributes)
		+e.body(href='#')
			+e.img-wrap
				+img(`img/catalog-img-${img}.jpg`).res-i
			+e.caption
				+e.brand ARTURO FUENTE
				+e.title.h4 Opus X Robusto
				+e.country Доминиканcкая Республика
				if duration
					+e.duration Время курения: 
						span ~75 мин:
				if strength
					+e.strength
						span Крепость:
						//- ul
						+e.rating
						+e.rating
						+e.rating
						+e.rating--empty
						+e.rating--empty
		+e.footer
			+e.price.h4!= price
			+e.BUTTON
				+icon('cart')


mixin filterDropdown(btn, isSelected)
	+b.filter-dropdown--js&attributes(attributes)
		+e.btn(class=(isSelected ? '--selected' : ''))
			!= btn
			+icon('chevron-down')
			if isSelected
				+e.info 
					| 5
					+e.cross
		+e.dropdown-item
			block


mixin sCatalog(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			//- .category-wrap
			//- 	+e.select-wrap
			//- 		select.form-select(aria-label="Выберете cигары").form-select--active
			//- 				option(selected) Сигары
			//- 				option(value="Сигары 1") Сигары 1
			//- 				option(value="Сигары 2") Сигары 2
			//- 	+e.select-wrap
			//- 		select.form-select(aria-label="Выберете Сигариллы")
			//- 				option(selected) Сигариллы
			//- 				option(value="Сигариллы 1") Сигариллы 1
			//- 				option(value="Сигариллы 2") Сигариллы 2
			//- 	+e.select-wrap
			//- 		select.form-select(aria-label="Выберете Аксессуары")
			//- 			option(selected) Аксессуары
			//- 			option(value="Аксессуары 1") Аксессуары1
			//- 			option(value="Аксессуары 2") Аксессуары 2
			//- 	+e.select-wrap
			//- 		select.form-select(aria-label="Выберете Наборы")
			//- 			option(selected) Наборы
			//- 			option(value="Наборы 1") Наборы 1
			//- 			option(value="Наборы 2") Наборы 2
			+b.display-wrap.row
				+e.filter.col-xl-9
					+e.title Фильтр:
					+e.form
						+e.select-wrap
							+filterDropdown('Страна', true)
								+input('Начните вводить', 'text', '')
								+e.custom-input-wrap
									-for(let i = 0; i < 5; i++)
										+in-c('checkbox', 'Страна')
										+in-c('checkbox', 'Еще страна')
										+in-c('checkbox', 'Страна')
										+in-c('checkbox', 'Еще страна')
										+in-c('checkbox', 'Россия')
										+in-c('checkbox', 'Куба')
										+in-c('checkbox', 'Малайзия')
										+in-c('checkbox', 'Куба')
										+in-c('checkbox', 'Малайзия')
								+e.reset-btn.btn.btn-dark2(href='#') 
									span Сбросить
									+e.count 5
							//- select.form-select(aria-label="Выберете страну")
							//- 	option(selected) Страна
							//- 	option(value="Другая страна1") Cтрана1
							//- 	option(value="Другая страна2") Cтрана2
							//- 	option(value="Другая страна3") Cтрана3
						+e.select-wrap
							+filterDropdown('Бренд')
								+input('Начните вводить', 'text', '')
								+e.custom-input-wrap
									-for(let i = 0; i < 5; i++)
										+in-c('checkbox', 'Страна')
										+in-c('checkbox', 'Еще страна')
										+in-c('checkbox', 'Страна')
										+in-c('checkbox', 'Еще страна')
										+in-c('checkbox', 'Россия')
										+in-c('checkbox', 'Куба')
										+in-c('checkbox', 'Малайзия')
										+in-c('checkbox', 'Куба')
										+in-c('checkbox', 'Малайзия')
								+e.reset-btn.btn.btn-dark2(href='#') 
									span Сбросить
									+e.count 5
						+e.select-wrap
							+filterDropdown('Крепость')
								+input('Начните вводить', 'text', '')
								+e.custom-input-wrap
									-for(let i = 0; i < 5; i++)
										+in-c('checkbox', 'Страна')
										+in-c('checkbox', 'Еще страна')
										+in-c('checkbox', 'Страна')
										+in-c('checkbox', 'Еще страна')
										+in-c('checkbox', 'Россия')
										+in-c('checkbox', 'Куба')
										+in-c('checkbox', 'Малайзия')
										+in-c('checkbox', 'Куба')
										+in-c('checkbox', 'Малайзия')
								+e.reset-btn.btn.btn-dark2(href='#') 
									span Сбросить
									+e.count 5
						+e.select-wrap
							+filterDropdown('Время курения:', true)
								+input('Начните вводить', 'text', '')
								+e.custom-input-wrap
									-for(let i = 0; i < 5; i++)
										+in-c('checkbox', 'Страна')
										+in-c('checkbox', 'Еще страна')
										+in-c('checkbox', 'Страна')
										+in-c('checkbox', 'Еще страна')
										+in-c('checkbox', 'Россия')
										+in-c('checkbox', 'Куба')
										+in-c('checkbox', 'Малайзия')
										+in-c('checkbox', 'Куба')
										+in-c('checkbox', 'Малайзия')
								+e.reset-btn.btn.btn-dark2(href='#') 
									span Сбросить
									+e.count 5
						+e.select-wrap
							+filterDropdown('Цена')
								.range-slider
									input.js-range-slider(type='text' value='')
								.extra-controls
									label
										span.status От
										input.js-input-from(type='text' value='0')
										span.ruble ₽
									label
										span.status До
										input.js-input-to(type='text' value='0')
										span.ruble ₽
								+e.reset-btn.btn.btn-dark2(href='#'): span Сбросить
						+e.select-wrap
							+filterDropdown('Поштучно')
								+input('Начните вводить', 'text', '')
								+e.custom-input-wrap
									-for(let i = 0; i < 5; i++)
										+in-c('checkbox', 'Страна')
										+in-c('checkbox', 'Еще страна')
										+in-c('checkbox', 'Страна')
										+in-c('checkbox', 'Еще страна')
										+in-c('checkbox', 'Россия')
										+in-c('checkbox', 'Куба')
										+in-c('checkbox', 'Малайзия')
										+in-c('checkbox', 'Куба')
										+in-c('checkbox', 'Малайзия')
								+e.reset-btn.btn.btn-dark2(href='#') 
									span Сбросить
									+e.count 5
						//- 	select.form-select(aria-label="Выберете цену")
						//- 		option(selected) Цена
						//- 		option(value="от одной до другой") Цена1
						//- 		option(value="от другой до другой") Цена2
				+e.sorter.col-xl-3
					+e.title Сортировать:
					+e.select-wrap
						+filterDropdown('Страна').--right
							+input('Начните вводить', 'text', '')
							+e.custom-input-wrap
								-for(let i = 0; i < 5; i++)
									+in-c('checkbox', 'Страна')
									+in-c('checkbox', 'Еще страна')
									+in-c('checkbox', 'Страна')
									+in-c('checkbox', 'Еще страна')
									+in-c('checkbox', 'Россия')
									+in-c('checkbox', 'Куба')
									+in-c('checkbox', 'Малайзия')
									+in-c('checkbox', 'Куба')
									+in-c('checkbox', 'Малайзия')
							+e.reset-btn.btn.btn-dark2(href='#') 
								span Сбросить
								+e.count 5
					
			+e.row-main.row
				.col-md-6.col-lg-4
					+catalogItem('1','true','true', '1 400 сум')
				.col-md-6.col-lg-4
					+catalogItem('2','true', 'true', '1 400 сум')
				.col-md-6.col-lg-4
					+catalogItem('3','true', 'true', '1 400 сум')
				.col-md-6.col-lg-4
					+catalogItem('4','true', 'true', '1 400 сум')
				.col-md-6.col-lg-4
					+catalogItem('5','true', 'true', '1 400 сум')
				.col-md-6.col-lg-4
					+catalogItem('6','true', 'true', '1 400 сум')
				.col-md-6.col-lg-4
					+catalogItem('7','true', 'true', '1 400 сум')
				.col-md-6.col-lg-4
					+catalogItem('8','true', 'true', '1 400 сум')
				.col-md-6.col-lg-4
					+catalogItem('9','true', 'true', '1 400 сум')
			+pugin


	// end sCatalog