mixin catalogItem(img)
	+b.catalog-item
		+e.body(href='#')
			+e.img-wrap
				+img(`img/catalog-img-${img}.jpg`).res-i
			+e.caption
				+e.brand ARTURO FUENTE
				+e.title.h4 Opus X Robusto
				+e.country Доминиканcкая Республика
				+e.strength
					span Крепость:
					ul
						+e.LI.rating
						+e.LI.rating
						+e.LI.rating
						+e.LI.rating--empty
						+e.LI.rating--empty
		+e.footer
			+e.price.h4 1 400 руб
			+e.BUTTON
				+icon('cart')


mixin sCatalog(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			.category-wrap
				+e.select-wrap
					select.form-select(aria-label="Выберете cигары").form-select--active
							option(selected) Сигары
							option(value="Сигары 1") Сигары 1
							option(value="Сигары 2") Сигары 2
				+e.select-wrap
					select.form-select(aria-label="Выберете Сигариллы")
							option(selected) Сигариллы
							option(value="Сигариллы 1") Сигариллы 1
							option(value="Сигариллы 2") Сигариллы 2
				+e.select-wrap
					select.form-select(aria-label="Выберете Аксессуары")
						option(selected) Аксессуары
						option(value="Аксессуары 1") Аксессуары1
						option(value="Аксессуары 2") Аксессуары 2
				+e.select-wrap
					select.form-select(aria-label="Выберете Наборы")
						option(selected) Наборы
						option(value="Наборы 1") Наборы 1
						option(value="Наборы 2") Наборы 2
			+b.display-wrap.row
				+e.filter.col
					+e.title Фильтр:
					+e.form
						+e.select-wrap
							select.form-select(aria-label="Выберете страну")
								option(selected) Страна
								option(value="Другая страна1") Cтрана1
								option(value="Другая страна2") Cтрана2
								option(value="Другая страна3") Cтрана3
						+e.select-wrap
							select.form-select(aria-label="Выберете крупость")
								option(selected) Бренд
								option(value="Другой бренд2") Бренд2
								option(value="Другой бренд3") Бренд3
								option(value="Другой бренд3") Бренд3
						+e.select-wrap
							select.form-select(aria-label="Выберете крепость")
								option(selected) Крепость
								option(value="Крепость1") Крепость1
								option(value="Крепость2") Крепость2
								option(value="Крепость3") Крепость3
						+e.select-wrap
							select.form-select(aria-label="Выберете время курения").form-select--selected
								option(selected) Время курения: Выбрано 3
								option(value="Время1") Время1
								option(value="Время2") Время2
								option(value="Время3") Время3
						+e.select-wrap
							select.form-select(aria-label="Выберете цену")
								option(selected) Цена
								option(value="от одной до другой") Цена1
								option(value="от другой до другой") Цена2
				+e.sorter.col-auto
					+e.title Сортировать:
					+e.select-wrap
						select.form-select(aria-label="Сортировать")
							option(selected) Сначала дорогие
							option(value="Сначала недорогие") Сначала недорогие
					
			+e.row-main.row
				.col-md-6.col-lg-4
					+catalogItem('1')
				.col-md-6.col-lg-4
					+catalogItem('2')
				.col-md-6.col-lg-4
					+catalogItem('3')
				.col-md-6.col-lg-4
					+catalogItem('4')
				.col-md-6.col-lg-4
					+catalogItem('5')
				.col-md-6.col-lg-4
					+catalogItem('6')
				.col-md-6.col-lg-4
					+catalogItem('7')
				.col-md-6.col-lg-4
					+catalogItem('8')
				.col-md-6.col-lg-4
					+catalogItem('9')
			+pugin


	// end sCatalog