mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-xl-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
			+soc()
				+item-sos('')
					+icon('instagram')
				+item-sos('')
					+icon('telegram')
				+item-sos('')
					+icon('fb')
	//  мобильное меню

mixin catalog()
	+b.catalog-dropdown
		+e.back: +icon('chevron-left')
		.container
			+e.row.row
				.col-lg-9
					+e.title.h3 Сигары
					+e.UL.columns
						li: a(href="#") Cohiba
						li: a(href="#") Hoyo De Monterrey
						li: a(href="#") Partagas
						li: a(href="#") Romeo y Julietta
						li: a(href="#") Quintero
						li: a(href="#") H.Upmann
						li: a(href="#") Montecristo
						li: a(href="#") Cohiba
						li: a(href="#") Hoyo De Monterrey
						li: a(href="#") Partagas
						li: a(href="#") Romeo y Julietta
						li: a(href="#") Quintero
						li: a(href="#") H.Upmann
						li: a(href="#") Montecristo
						li: a(href="#") Cohiba
						li: a(href="#") Hoyo De Monterrey
						li: a(href="#") Partagas
						li: a(href="#") Romeo y Julietta
						li: a(href="#") Quintero
						li: a.catalog-dropdown__show-full(href="#") Смотреть все
				.col-lg-3
					+e.title.h3 Сигариллы
					ul
						li: a(href="#") Cohiba
						li: a(href="#") Hoyo De Monterrey
						li: a(href="#") Partagas
						li: a(href="#") Romeo y Julietta
						li: a(href="#") Quintero
						li: a(href="#") H.Upmann
						li: a(href="#") Montecristo
			+e.title-wrap
				+e.title.h3(href='#') Аксессуары
				+e.title.h3(href='#') Наборы
mixin top-nav() 
	// start top-nav
	+b.top-nav
		.container
			+e.row-main.row
				.col-auto
					+logo()
				.col-auto.d-none.d-xl-flex
					+addr()
				+e.col-soc.col-auto.d-none.d-xl-block
					+soc()
						+item-sos()
							+icon('instagram')
						+item-sos()
							+icon('telegram')
						+item-sos()
							+icon('fb')
				.col
					+e.row.row
						.col-auto.d-none.d-xl-block
							+e.link.btn(href="#").btn-primary Он-лайн помощник
						.col-auto.d-none.d-xl-block
							+e.link.btn(href="#").btn-primary Написать консультанту
						.col-auto
							+e.btn--lang(href="#")
								img(src="img/svg/lang.svg", alt="")

				+e.hr.col-12.d-none.d-xl-block
				.col-xl.order-xl-0.order-last
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+menu-toggle()
							+mnu()
							.d-xl-none.container
								+addr()
								br
								+soc()
									+item-sos('')
										+icon('instagram')
									+item-sos('')
										+icon('telegram')
									+item-sos('')
										+icon('fb')
								br
								a.btn(href="#").btn-primary Написать консультанту
								br
								br
								a.btn(href="#").btn-primary Он-лайн помощник
				.col-auto
					+e.btn--basket(href="#").btn-dark2
						img(src="img/svg/basket.svg", alt="")
						span.d-none.d-md-inline Корзина
						+e.count 99
				+e.col.col-auto.d-xl-none
					+menu-toggle()
		+catalog()
	// end top-nav