mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-xl-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav
		.container
			+e.row-main.row
				+e.col.col.d-xl-none
					+menu-toggle()
				.col.d-none.d-xl-block
					+addr()
				.col-auto
					+logo()
				.col
					+e.row.row
						.col-auto.d-none.d-xl-block
							a.btn(href="#").btn-primary Написать консультанту
						.col-auto
							+e.btn--lang(href="#")
								img(src="img/svg/lang.svg", alt="")

				+e.hr.col-12.d-none.d-xl-block
				.col-xl.order-xl-0.order-last
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+menu-toggle()
							+mnu()
							.d-xl-none.container
								+addr()
								br
								br
								a.btn(href="#").btn-primary Написать консультанту
				.col-auto
					+e.btn--basket(href="#").btn-dark2
						img(src="img/svg/basket.svg", alt="")
						span.d-none.d-md-inline Корзина
						+e.count 99
				
	// end top-nav