 
	  
.soc{
	@include roww(28px, m);
	display: flex;
	&__item{
		@extend .btn;
		padding: 0;
		width: 44px;
		height: 44px;
		border: none;
		border-radius: 6px;
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&--vk {
			background-color: #0086D9;
			.icon {
				font-size: 19px;
			}
		}
		&--whatsapp {
			background-color: #55CD6C;
			.icon {
				font-size:30px;
			}
		}
		&--telegram {
			background-color: #177BB4;
			.icon {
				font-size:22px;
			}
		}
		&--instagram {
			background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
			box-shadow: 0px 3px 10px rgba(0,0,0,.25);
			.icon {
				font-size:41px;
			}
		}
		&:hover{
		 	box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .8 ;
		}
		
	}
	// .icon{
	// 	font-size: rem(30);
	// }


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}