 
	  
.soc{
	@include roww(28px, m);
	display: flex;
	&__item{
		@extend .btn;
		padding: 0;
		width: 44px;
		height: 44px;
		border: none;
		border-radius: 6px;
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&--vk {
			background-color: #0086D9;
			.icon {
				font-size: 19px;
			}
		}
		&--whatsapp {
			background-color: #55CD6C;
			.icon {
				font-size:30px;
			}
		}
		&--telegram {
			background-color: #177BB4;
			.icon {
				font-size:22px;
			}
		}
		&--instagram {
			background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
			box-shadow: 0px 3px 10px rgba(0,0,0,.25);
			.icon {
				font-size:41px;
			}
		}
		&:hover{
		 	box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .8 ;
		}
		
	}
	// .icon{
	// 	font-size: rem(30);
	// }


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: $white;;
	// border: 1px solid;
	// border-radius: 23px;
	display: inline-flex;
	position: relative;
	overflow: hidden;
	input{
		max-width: 73px;
		color: inherit;
		text-align: center;
		border: none;
		height: rem(64);
		background-color: transparent;
		font-family: $headers-font;
		font-size: rem(32);
	}
	&__btn{
		color: inherit;
		height: rem(64);
		width: rem(64);
		position: relative;
		border-radius: 50%;
		color: $white;
		border:1px solid $brown;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		// width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 16px;
			height: 1px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}

// .more {
// 	display: flex;
// 	align-items: center;
// 	a {
// 		margin-right: auto;
// 		font-size: rem(14);
// 	}
// 	position: relative;
// 	.swiper-button-hand {
// 		position: static;
// 		border: none;
// 		background-color: transparent;
// 		color: $brown;
// 		width: auto;
// 		height: auto;
// 		&-prev {
// 			margin-right: rem(45);
// 		}
// 		&:hover {
// 			color: $white;
// 		}
// 		.icon {
// 			font-size: rem(17.4);
// 			stroke: currentColor;
// 		}
// 	}
// }

.page-head {
	&--cart {
		h1 {
			margin-bottom: rem(7);
		}
	}
}