mixin sContactinfo(data)
	// start sContactinfo
	+b.SECTION.sContactinfo.section#sContactinfo&attributes(attributes)
		.container.hc-container
			+e.main-row.row
				.col-lg-7
					+e.wrap
						h3 Контактные данные
						+form-wrap
							+e.row.row 
								.col-md-6
									+input('Имя')
								.col-md-6
									+input('Фамилия')
								.col-md-6
									+input('E-mail', 'email')
								.col-md-6
									+input('Телефон', 'tel')
								.col-md-12
									+input('Комментарий к заказу', 'textarea')
					+e.wrap
						h3 Данные по доставке
						.tabs.swiper
							.tabs__caption.swiper-wrapper
								.tabs__btn.swiper-slide.active Курьером
								.tabs__btn.swiper-slide Самовывоз
								.tabs__btn.swiper-slide Посылка
							.tabs__content.active
								+form-wrap
									+e.row.row 
										.col-md-6
											+input('Узбекистан', 'select')(disabled)
										.col-md-6
												+input('Город', 'select')
										.col-md-12.col-lg-6
											+input('Улица')
										.col-4.col-lg-2
											+input('Дом')
										.col-4.col-lg-2
											+input('Корп.')
										.col-4.col-lg-2
											+input('Кв.')
										.col-lg-12
											+input('Уточнение по адресу доставки', 'textarea')
							.tabs__content
								+e.text-map г. Ташкент, Мирабадский р-н, Массив Айбек, 14 (ул. Саида Барака)
								+e.map
									+e.map-widget#map
							.tabs__content
								+form-wrap
									+e.row.row 
										.col-md-6
											+input('Узбекистан', 'select')
										.col-md-6
											+input('Город', 'select')
										.col-md-12
											+input('Улица')
										.col-sm-3
											+input('Дом')
										.col-sm-3
											+input('Корп.')
										.col-sm-3
											+input('Кв.')
										.col-sm-3
											+input('Индекс')
										.col-lg-12
											+input('Уточнение по адресу доставки', 'textarea')
				+e.col-end.col-lg-5.col-xl-4
					+b.order-overview
						table
							thead
								tr
									td(colspan='3')
										h3 Заказ
							tbody
								+e.list.TR
									td San Lotano Bull Gordo
									td.text-center x1
									td 1 310 сум
								+e.list.TR
									td Romeo Y Julieta №2 A/T
									td.text-center x1
									td 2 310 сум
								+e.order.TR
									td(colspan='2') Доставка
									td Курьером
								+e.sum.TR
									td(colspan='3') 
										p Цена:
										p 3 210 сум
						+e.link(href="#").btn.btn-primary Оформить заказ
						+e.confrim Нажимая на кнопку «Оформить» я даю согласие на #[a(href="#") обработку персональных данных.]
						+e.text Доставка разрешена не для всех товаров из нашего каталога. Администратор проконсультирует Вас при подтверждении заказа. Заказчик подтверждает необходимость оплаты расходов за транспортировку по тарифам транспортного оператора
	// end sContactinfo