mixin sClub(data)
	// start sClub
	+b.SECTION.sClub.section#sClub&attributes(attributes)
		.container
			.row
				.col-12.col-lg-8
					+e.main-descr.P В&nbsp;2021 году нашей компании исполнилось 11&nbsp;лет. Ровно столько лет подряд мы&nbsp;носим гордое звание Habanos Specialist.
					p В&nbsp;нашем ассортименте&nbsp;Вы всегда найдете кубинские сигары на&nbsp;самый изысканный вкус: Cohiba, Montecristo, Romeo &amp;&nbsp;Julieta, Partagas&nbsp;&mdash; все те&nbsp;бренды, которые так ценятся любителями по&nbsp;всему миру. Мы&nbsp;также предлагаем нашим клиентам продукцию доминиканских, никарагуанских, российских и&nbsp;других табачных фабрик.
				.col-12.col-lg-4
					+e.tips-row.row
						.col-auto.d-flex.align-items-center
							+icon('scooter')
						+e.tips.col Наши опытные консультанты к&nbsp;Вашим услугам и&nbsp;всегда помогут Вам сделать правильный выбор
					+e.tips-row.row
						.col-auto.d-flex.align-items-center
							+icon('chatting')
						+e.tips.col.col Для постоянных клиентов мы&nbsp;организуем доставку сигар в&nbsp;офис или домой
		+sSliderFluid()
		.container
			p Данная марка является самой известной и&nbsp;наиболее премиальной из&nbsp;всех кубинских сигар. Создана она была по&nbsp;специальному распоряжению Фиделя Кастро, который был ярым поклонником сигарной культуры и&nbsp;скуривал не&nbsp;менее трех витол в&nbsp;день. Поначалу производство велось на&nbsp;секретной фабрике El&nbsp;Laguito, которая впоследствии станет знаменита на&nbsp;весь мир. До&nbsp;сих пор она является полностью закрытым учреждением&nbsp;&mdash; туда не&nbsp;водят экскурсии и&nbsp;не&nbsp;пускают посторонних. Во&nbsp;времена Кастро сигары Cohiba могли покинуть Кубу только в&nbsp;качестве подарка дипломатам и&nbsp;главам государств, а&nbsp;на&nbsp;рынке появились лишь в&nbsp;80-х годах и&nbsp;в&nbsp;очень ограниченном количестве, сразу&nbsp;же завоевав множество титулов и&nbsp;наград экспертов.
			p Своим названием эти витолы обязаны коренным жителям Острова свободы&nbsp;&mdash; индейцам таино. Слово &laquo;коиба&raquo; на&nbsp;их&nbsp;языке означало пучки табачных листьев, и&nbsp;именно в&nbsp;процессе курения такой формы сигар их&nbsp;впервые встретил Колумб.
			p Для производства современных Cohiba используются листья seco и&nbsp;ligero с&nbsp;лучших полей наиболее популярного региона по&nbsp;выращиванию табака&nbsp;&mdash; Vuelta Abajo. Впоследствии табачные листья подвергаются процессу тройной ферментации, который позволяет вывести большую часть смол и&nbsp;нитратов. Об&nbsp;этом свидетельствует мягкий и&nbsp;ненавязчивый вкус этих Habanos.
	// end sClub