mixin sClub()
	// start sClub
	+b.sClub.section#sClub&attributes(attributes)
		.container
			.row
				.col-12.col-lg-8
					+e.main-descr.P В&nbsp;2021 году нашей компании исполнилось 11&nbsp;лет. Ровно столько лет подряд мы&nbsp;носим гордое звание Habanos Specialist.
					p В&nbsp;нашем ассортименте&nbsp;Вы всегда найдете кубинские сигары на&nbsp;самый изысканный вкус: Cohiba, Montecristo, Romeo &amp;&nbsp;Julieta, Partagas&nbsp;&mdash; все те&nbsp;бренды, которые так ценятся любителями по&nbsp;всему миру. Мы&nbsp;также предлагаем нашим клиентам продукцию доминиканских, никарагуанских, российских и&nbsp;других табачных фабрик.
				.col-12.col-lg-4
					+e.tips-row.row
						.col-auto.d-flex.align-items-center
							+icon('scooter')
						+e.tips.col Наши опытные консультанты к&nbsp;Вашим услугам и&nbsp;всегда помогут Вам сделать правильный выбор
					+e.tips-row.row
						.col-auto.d-flex.align-items-center
							+icon('chatting')
						+e.tips.col.col Для постоянных клиентов мы&nbsp;организуем доставку сигар в&nbsp;офис или домой
		+sSliderFluid()
		.container
			p Данная марка является самой известной и&nbsp;наиболее премиальной из&nbsp;всех кубинских сигар. Создана она была по&nbsp;специальному распоряжению Фиделя Кастро, который был ярым поклонником сигарной культуры и&nbsp;скуривал не&nbsp;менее трех витол в&nbsp;день. Поначалу производство велось на&nbsp;секретной фабрике El&nbsp;Laguito, которая впоследствии станет знаменита на&nbsp;весь мир. До&nbsp;сих пор она является полностью закрытым учреждением&nbsp;&mdash; туда не&nbsp;водят экскурсии и&nbsp;не&nbsp;пускают посторонних. Во&nbsp;времена Кастро сигары Cohiba могли покинуть Кубу только в&nbsp;качестве подарка дипломатам и&nbsp;главам государств, а&nbsp;на&nbsp;рынке появились лишь в&nbsp;80-х годах и&nbsp;в&nbsp;очень ограниченном количестве, сразу&nbsp;же завоевав множество титулов и&nbsp;наград экспертов.
			p Своим названием эти витолы обязаны коренным жителям Острова свободы&nbsp;&mdash; индейцам таино. Слово &laquo;коиба&raquo; на&nbsp;их&nbsp;языке означало пучки табачных листьев, и&nbsp;именно в&nbsp;процессе курения такой формы сигар их&nbsp;впервые встретил Колумб.
			p Для производства современных Cohiba используются листья seco и&nbsp;ligero с&nbsp;лучших полей наиболее популярного региона по&nbsp;выращиванию табака&nbsp;&mdash; Vuelta Abajo. Впоследствии табачные листья подвергаются процессу тройной ферментации, который позволяет вывести большую часть смол и&nbsp;нитратов. Об&nbsp;этом свидетельствует мягкий и&nbsp;ненавязчивый вкус этих Habanos.
	// end sClub

mixin sClub3()
	+b.SECTION.sClub--2.section&attributes(attributes)
		.container
			+e.row.row
				.col-12.col-lg-8
					h2 Клуб
					h3 Закрытый сигарный клуб "Cigar Academy" был создан в Ташкенте в 2021 году. По состоянию на апрель 2022&nbsp;года он объединяет более 65 постоянных членов : бизнесменов,  государственных служащих, дипломатов, банкиров, врачей, отраслевых специалистов.  Всех нас объединяет любовь к сигаре и сигарной культуре!
				.col-12.col-lg-4
					+e.tips-row.row
						.col-auto.d-flex.align-items-center
							+icon('chatting')
						+e.tips.col.col Наши опытные консультанты к&nbsp;Вашим услугам и&nbsp;всегда помогут Вам сделать правильный выбор
					+e.tips-row.row
						.col-auto.d-flex.align-items-center
							+icon('scooter')
						+e.tips.col Для постоянных клиентов мы&nbsp;организуем доставку сигар в&nbsp;офис или домой
		+sSliderFluid()

mixin sClub2()
	+b.SECTION.sClub--3.section&attributes(attributes)
		+img('img/sClub-bg-1.png')
		.container
			+e.row.row
				.col-12.col-lg-7
					h2 Бутик
					h3 Бутик &laquo;Культ Сигар&raquo; открылся в&nbsp;Ташкенте в&nbsp;2021 году и&nbsp;стал центральным местом для погружения в&nbsp;мир сигар и&nbsp;сигарных аксессуаров
				+e.col.col-12.col-lg-3
					+img('img/sClub-img-1.png')
					figure
						blockquote Хорошая сигара — такая же дань законам<br>общества, как умение читать по-французски и&nbsp;поездка на скачки в Эскот.
						cite Уинстон Черчилль
		+sSliderFluid2()
		.container
			+e.slider--js.swiper
				+e.swiper-wrap.swiper-wrapper
					+e.wrap.swiper-slide
						+img('img/svg/cigar.svg')
						p Лучший выбор редких кубинских сигар
					+e.wrap.swiper-slide
						+img('img/svg/tobacco.svg')
						p Безупречные стандарты хранения
					+e.wrap.swiper-slide
						+img('img/svg/traced.svg')
						p Специалист Habanos<br>с 2010 года
					+e.wrap.swiper-slide
						+img('img/svg/cutter.svg')
						p Широкий ассортимент аксессуаров
					+e.wrap.swiper-slide
						+img('img/svg/tobacco2.svg')
						p Гарантия происхождения и&nbsp;качества сигар