// start .sClub
.sClub {
		--sPT: 0;
		// --sPB: ;
		// --sTPB: ;
	&__main-descr {
		max-width: 670px;
		margin-bottom: rem(25);
		font-size: 32px;
		line-height: 150%;
		& + p {
			max-width: 670px;
			line-height: 150%;
			@include media-breakpoint-down(lg) {
				margin-bottom: 30px;
			}
		}
	}
	&__tips-row {
		margin-bottom: rem(47);
	}
	.icon {
		font-size: rem(48);
		color: $brown;
		@include media-breakpoint-up(lg) {
			margin-right: rem(32);
		}
	}
	&__tips {
		font-size: 16px;
		line-height: 150%;
		opacity: 0.8;
	}

	p {
		max-width: 803px;
		// line-height: 170%;
	}

	h2 {
		margin-bottom: rem(28);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(65);
		}
	}
	h3 {
		line-height: 1.50em;
		margin-bottom: rem(69);
	}
	&--2 {
		.sClub__row {
			align-items: center;
		}
	}
	&__col {
		margin-left: auto;
		img {
			margin-bottom: rem(42.200);
		}
	}
	&--3 {
		--sPT: #{rem(35)};
		--sPB: #{rem(50.400)};
		position: relative;
		& > img {
			position: absolute;
			top: -9px;
			left: 53.2%;
			z-index: -1;
			transform: translateX(-50%);
		}
		.sClub__col {
			@include media-breakpoint-up(lg) {
				align-self: flex-end;
    		margin-bottom: 27px;
			}
		}
		figure {
			font-size: rem(11);
			padding-left: rem(28);
			blockquote {
				font-family: 'Montserrat Alternates' ,sans-serif;
				color: $brown;
				font-style: italic;
				line-height: 1.80em;
				max-width: rem(291);
				position: relative;
				margin-bottom: rem(9);
				&::before, &::after {
					background-repeat: no-repeat;
					width: 15px;
					height: 12px;
					display: block;
					position: absolute;
				}
				&::before {
					content: '';
					background-image: url(../img/svg/Quotation-Mark.svg);
					left: rem(-28);
					top: 0;
				}
				&::after {
					content: '';
					background-image: url(../img/svg/Quotation-Mark-2.svg);
					left: rem(195.200);
					bottom: 0;
				}
			}
			cite {
				font-family: 'Montserrat Alternates' ,sans-serif;
				font-style: normal;
				color: $white;
				opacity: .5;
			}
		}
		.sClub {
			&__wrap {
				max-width: rem(231);
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				display: flex;
				flex-direction: column;
				align-items: center;
				height: auto;
				img {
					margin-bottom: rem(34);
					flex-grow: 1;
				}
				p {
					font-size: rem(16);
					margin-bottom: 0;
					line-height: 1.50em;
				}
			}
			&__slider {
				padding-top: rem(21.800);
				overflow: visible;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sClub